{{ form_start(form, {'attr': {'class': 'custom-form'}}) }}
    {{ form_widget(form, {'attr': {'class': 'custom-form-widget'}}) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
