{% extends 'base.html.twig' %}

{% block title %}Balance{% endblock %}

{% block body %}
    <h1>Calcul index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
        {% for userId, balance in calcul %}
            <tr>
                <td>{{ userId }}</td>
                <td>{{ balance }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_group_index') }}">back to list</a>
{% endblock %}
