{% extends 'base.html.twig' %}

{% block title %}Edit GroupMember{% endblock %}

{% block body %}
    <h1>Edit GroupMember</h1>

    {{ include('group_member/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_group_member_index') }}">back to list</a>

    {{ include('group_member/_delete_form.html.twig') }}
{% endblock %}
